# Time Thief Attendance and API Calculations

<ul>
    <li><a href="#dkp">Calculate DKP</a></li>
</ul>

This notebook extracts information from the [Warcraft Logs](https://www.warcraftlogs.com/) API to produce data for the [Tempest](https://tempest-proudmoore.enjin.com/) Battle of Dazar'alor guild awards.

## Setup

In [2]:
# Import all required libraries and modules
import os
import requests

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warcraft_logs_fn as wl
import log_analysis as la
import api_key

In [3]:
# Import key
api_key = api_key.key

In [4]:
guild_info = wl.GUILD_INFO

# Confirm guild logs
fights = requests.get("https://classic.warcraftlogs.com:443/v1/reports/guild/Time%20Thief/Bigglesworth/US?api_key=" + api_key)
requests_df = pd.DataFrame(fights.json())
requests_df.head()

,end,id,owner,start,title,zone
0,1575098167954,3y2pzXmMw7DtfFhN,Illestra,1574565267591,MC + Ony One Shot!,1001
1,1574566610588,Z4hmkK8dJnDjAFGa,Illestra,1574565267591,Ony,1001
2,1573972366592,tKTCLgnGJYzadQN7,Illestra,1573960787323,Ony & MC,1001
3,1573887300526,YWhRD8tH2rqaJQbn,Illestra,1573875798017,MC Night 1,1000
4,1573366960982,Vnq8KPYGxgABCtXm,Illestra,1573355826178,8/10 MC,1000

In [24]:
requests_df

,end,id,owner,start,title,zone
0,1575098167954,3y2pzXmMw7DtfFhN,Illestra,1574565267591,MC + Ony One Shot!,1001
1,1574566610588,Z4hmkK8dJnDjAFGa,Illestra,1574565267591,Ony,1001
2,1573972366592,tKTCLgnGJYzadQN7,Illestra,1573960787323,Ony & MC,1001
3,1573887300526,YWhRD8tH2rqaJQbn,Illestra,1573875798017,MC Night 1,1000
4,1573366960982,Vnq8KPYGxgABCtXm,Illestra,1573355826178,8/10 MC,1000
5,1573283030179,C6MZG3Lby2wcaWAk,Illestra,1573273011152,Ony & MC First Five,1001
6,1572762614940,aFp3wXhAVWmfjbyY,Illestra,1572749728396,First Night MC,1000

The first log starts at 1572749728396.

In [25]:
# Extract logs
wl.save_logs(api_key, guild_info, log_start=1572749728396)

# Create boss list
boss_list = ['Onyxia', 
             'Lucifron', 
             'Magmadar', 
             'Gehennas', 
             'Garr',
             'Baron Geddon', 
             'Shazzrah', 
             'Sulfuron Harbinger', 
             'Golemagg the Incinerator',
             'Majordomo Executus',
             'Ragnaros']

# Extract fight details and save
fight_df = wl.extract_fights(boss_list)
wl.create_master_list(log_info, fight_df)

Creating file C6MZG3Lby2wcaWAk
Creating file aFp3wXhAVWmfjbyY

All files created.

Log ID 3y2pzXmMw7DtfFhN done.
Log ID aFp3wXhAVWmfjbyY done.
Log ID C6MZG3Lby2wcaWAk done.
Log ID tKTCLgnGJYzadQN7 done.
Log ID Vnq8KPYGxgABCtXm done.
Log ID YWhRD8tH2rqaJQbn done.
Log ID Z4hmkK8dJnDjAFGa done.

Dataframe created.

Dataframe cleaned.

Master dataframe created.

master_list saved.

Let's get the names of all of the players that have raided with us.

In [26]:
players = pd.read_csv('master_list.csv', encoding='iso-8859-1')
player_names = players.player_name.unique()
player_names

array(['Gengib', 'Doublechin', 'Shannanigans', 'Khamala', 'Elnul',
       'Pinkpanzer', 'Vedalken', 'Psykhe', 'Rekcots', 'Stickypants',
       'Draigo', 'Porblas', 'Lilswig', 'Silversoul', 'Regmar',
       'Coldemort', 'Valueadded', 'Sombrero', 'Oleoresin', 'Veyl',
       'Illestra', 'Neoblade', 'Chubblock', 'Alaisiagae', 'Lawli',
       'Sugarcrash', 'Jaxsy', 'Ameon', 'Lareve', 'Zebidee', 'Artemíst',
       'Proplay', 'Dazeroc', 'Nexx', 'Korzara', 'Getscared',
       'Ecnaillakcuf', 'Lisana', 'Dragonite', 'Kenrith', 'Akroma',
       'Roflmewafles', 'Pitchred', 'Renson', 'Zanthalar', 'Pepprey',
       'Kustom', 'Matdémon', 'Wigglerod', 'Sup', 'Wixie', 'Iamelbert',
       'Sunsets', 'Bowsith', 'Miyashiro', 'Bocchi', 'Dadin', 'Battlecrab',
       'Fondor', 'Greasyshyft', 'Meenuh', 'Whitterfits', 'Nocktheblock',
       'Igotdots', 'Penguinzs', 'Hoke', 'Bimmy', 'Stulz', 'Timmylee',
       'Puffnpassout', 'Gyre', 'Donchibby', 'Nysh'], dtype=object)

Who raided in the first raid?

In [27]:
first_raiders = players.query('log_id == "aFp3wXhAVWmfjbyY"').player_name.unique()
first_raiders

array(['Vedalken', 'Porblas', 'Wigglerod', 'Ameon', 'Kustom', 'Lilswig',
       'Renson', 'Sup', 'Pinkpanzer', 'Korzara', 'Wixie', 'Lisana',
       'Sugarcrash', 'Veyl', 'Matdémon', 'Akroma', 'Iamelbert',
       'Doublechin', 'Dazeroc', 'Illestra', 'Oleoresin', 'Sunsets',
       'Rekcots', 'Neoblade', 'Coldemort', 'Draigo', 'Jaxsy', 'Bowsith',
       'Miyashiro', 'Khamala', 'Zanthalar', 'Dragonite', 'Bocchi'],
      dtype=object)

In [28]:
# Get player info
player_list = pd.read_csv('player_list.csv', encoding='iso-8859-1')
player_list

          player primary_role  alt  tier_end  tier_start  start_date
0       Vedalken       healer  NaN       NaN        True         NaN
1        Porblas         mdps  NaN       NaN        True         NaN
2          Ameon         mdps  NaN       NaN        True         NaN
3         Kustom         rdps  NaN       NaN        True         NaN
4        Lilswig         rdps  NaN       NaN        True         NaN
5         Renson         tank  NaN       NaN        True         NaN
6        Korzara       healer  NaN       NaN        True         NaN
7          Wixie         rdps  NaN       NaN        True         NaN
8         Lisana       healer  NaN       NaN        True         NaN
9           Veyl         rdps  NaN       NaN        True         NaN
10      Matdémon         rdps  NaN       NaN        True         NaN
11        Akroma         rdps  NaN       NaN        True         NaN
12    Doublechin         tank  NaN       NaN        True         NaN
13       Dazeroc         mdps  NaN       NaN        True         NaN
14      Illestra       healer  NaN       NaN        True         NaN
15     Oleoresin         rdps  NaN       NaN        True         NaN
16       Rekcots         rdps  NaN       NaN        True         NaN
17      Neoblade       healer  NaN       NaN        True         NaN
18     Coldemort         rdps  NaN       NaN        True         NaN
19        Draigo         tank  NaN       NaN        True         NaN
20         Jaxsy         mdps  NaN       NaN        True         NaN
21       Khamala         mdps  NaN       NaN        True         NaN
22     Zanthalar       healer  NaN       NaN        True         NaN
23     Dragonite       healer  NaN       NaN        True         NaN
24         Elnul         rdps  NaN       NaN       False         NaN
25        Psykhe         rdps  NaN       NaN       False         NaN
26        Regmar       healer  NaN       NaN       False         NaN
27      Sombrero       healer  NaN       NaN       False         NaN
28     Chubblock         rdps  NaN       NaN       False         NaN
29    Alaisiagae         rdps  NaN       NaN       False         NaN
30         Lawli       healer  NaN       NaN       False         NaN
31        Lareve         mdps  NaN       NaN       False         NaN
32          Nexx         rdps  NaN       NaN       False         NaN
33     Getscared         rdps  NaN       NaN       False         NaN
34       Kenrith         rdps  NaN       NaN       False         NaN
35  Roflmewafles         rdps  NaN       NaN       False         NaN

All players are accounted for. Just need to add the dates for the first raid of the players who weren't in the initial raid.

In [31]:
players.head(1)

,log_id,log_start,log_end,pull_id,pull_start,pull_end,boss_id,boss_name,difficulty,kill,player_name
0,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,1,68,417467,1084,Onyxia,3,False,Gengib

In [53]:
new_players = player_list.query('tier_start == False')['player']
first_raids = (players
               .loc[players['player_name'].isin(new_players), ['log_start', 'player_name']]
               .groupby('player_name').min()
               .reset_index())
first_raids

     player_name     log_start
0     Alaisiagae  1.574565e+12
1      Chubblock  1.573356e+12
2          Elnul  1.573356e+12
3      Getscared  1.574565e+12
4        Kenrith  1.573356e+12
5         Lareve  1.573876e+12
6          Lawli  1.574565e+12
7           Nexx  1.574565e+12
8         Psykhe  1.573876e+12
9         Regmar  1.573356e+12
10  Roflmewafles  1.574565e+12
11      Sombrero  1.574565e+12

In [54]:
first_raids['date_time'] = pd.to_datetime(first_raids['log_start'], unit='ms') - pd.Timedelta(unit='hours', value=7)
first_raids['date_time'] = first_raids['date_time'].dt.date
first_raids

     player_name     log_start   date_time
0     Alaisiagae  1.574565e+12  2019-11-23
1      Chubblock  1.573356e+12  2019-11-09
2          Elnul  1.573356e+12  2019-11-09
3      Getscared  1.574565e+12  2019-11-23
4        Kenrith  1.573356e+12  2019-11-09
5         Lareve  1.573876e+12  2019-11-15
6          Lawli  1.574565e+12  2019-11-23
7           Nexx  1.574565e+12  2019-11-23
8         Psykhe  1.573876e+12  2019-11-15
9         Regmar  1.573356e+12  2019-11-09
10  Roflmewafles  1.574565e+12  2019-11-23
11      Sombrero  1.574565e+12  2019-11-23

In [56]:
player_list_update = (player_list
                      .merge(first_raids.drop('log_start', axis=1), 
                             how='left', left_on='player', right_on='player_name')
                      .drop('player_name', axis=1))
player_list_update['start_date'] = player_list_update['date_time']
player_list_update.drop('date_time', axis=1, inplace=True)
player_list_update.to_csv('player_list.csv', index=False)

What are the boss id's?

In [87]:
boss_ids = master_list[['boss_id', 'boss_name']]
boss_ids = boss_ids[~boss_ids.duplicated()]
boss_ids.iloc[:-1]

     boss_id                 boss_name
0        663                  Lucifron
37       664                  Magmadar
74       665                  Gehennas
111      666                      Garr
148      668              Baron Geddon
186      667                  Shazzrah
224      669        Sulfuron Harbinger
262      670  Golemagg the Incinerator
300      671        Majordomo Executus
338      672                  Ragnaros
376     1084                    Onyxia

<a id='dkp'></a>
## Calculate DKP

The log needs to have the double Onyxia kills removed from log ID 3y2pzXmMw7DtfFhN.

In [60]:
last_log = players.query('log_id == "3y2pzXmMw7DtfFhN" & boss_name == "Onyxia" & (pull_start == 68 | pull_start == 807360)')
players.drop(last_log.index).to_csv('master_list.csv', index=False)

Now we can read in the finalized master list.

In [61]:
master_list = pd.read_csv('master_list.csv', encoding='iso-8859-1')

In [63]:
master_list.head()

,log_id,log_start,log_end,pull_id,pull_start,pull_end,boss_id,boss_name,difficulty,kill,player_name
0,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,12,522675927,522768659,663,Lucifron,3,True,Gengib
1,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,12,522675927,522768659,663,Lucifron,3,True,Doublechin
2,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,12,522675927,522768659,663,Lucifron,3,True,ArtemÃ­st
3,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,12,522675927,522768659,663,Lucifron,3,True,Proplay
4,3y2pzXmMw7DtfFhN,1.574565e+12,1.575098e+12,12,522675927,522768659,663,Lucifron,3,True,Dazeroc

We need to grab the people from the original fights that weren't logged.

In [78]:
original_players = ['Neoblade', 'Doublechin', 'Veyl', 'Lilswig', 'Rekcots',
                    'Akroma', 'Coldemort', 'Wixie', 'Korzara', 'Zanthalar',
                    'Dragonite', 'Jaxsy', 'Ameon', 'Matdémon', 'Khamala',
                    'Renson', 'Dazeroc', 'Draigo']
original_count = len(original_players)

original_raid = {'log_id': ['original_ony']*original_count,
                 'log_start': np.nan,
                 'log_end': np.nan,
                 'pull_id': 1,
                 'pull_start': np.nan,
                 'pull_end': np.nan,
                 'boss_id': 1084,
                 'boss_name': 'Onyxia',
                 'difficulty': 3,
                 'kill': True,
                 'player_name': original_players}

original_ony = pd.DataFrame(original_raid)
original_ony.head()

,log_id,log_start,log_end,pull_id,pull_start,pull_end,boss_id,boss_name,difficulty,kill,player_name
0,original_ony,NaN,NaN,1,NaN,NaN,1084,Onyxia,3,True,Neoblade
1,original_ony,NaN,NaN,1,NaN,NaN,1084,Onyxia,3,True,Doublechin
2,original_ony,NaN,NaN,1,NaN,NaN,1084,Onyxia,3,True,Veyl
3,original_ony,NaN,NaN,1,NaN,NaN,1084,Onyxia,3,True,Lilswig
4,original_ony,NaN,NaN,1,NaN,NaN,1084,Onyxia,3,True,Rekcots

In [79]:
first_mc_players = ['Doublechin', 'Neoblade', 'Oleoresin', 'Veyl',
                   'Rekcots', 'Coldemort', 'Lilswig', 'Akroma',
                   'Wixie', 'Korzara', 'Dragonite', 'Lisana', 'Vedalken',
                   'Zanthalar', 'Illestra', 'Porblas', 'Ameon', 'Jaxsy',
                   'Matdémon', 'Khamala', 'Renson', 'Dazeroc', 'Draigo']

first_mc_count = len(first_mc_players)
original_boss_count = 5
original_mc = {}

original_mc['log_id'] = ['original_mc']*original_boss_count*first_mc_count

for key in ['log_start', 'log_end', 'pull_start', 'pull_end']:
    original_mc[key] = np.nan

original_mc['difficulty'] = 3
original_mc['kill'] = True

pull_ids = [1, 2, 3, 4, 5]
boss_ids = [663, 664, 665, 666, 668]
boss_names = ['Lucifron', 'Magmadar', 'Gehennas', 'Garr', 'Baron Geddon']

for key, value in zip(['pull_id', 'boss_id', 'boss_name'], 
                      [pull_ids, boss_ids, boss_names]):
    original_mc[key] = []
    for x in value:
        original_mc[key] += [x]*first_mc_count

original_mc['player'] = first_mc_players*original_boss_count

mc_df = pd.DataFrame(original_mc)
mc_df['boss_id'].value_counts()

668    23
666    23
665    23
664    23
663    23
Name: boss_id, dtype: int64

In [76]:
mc_df['player'].value_counts()

Zanthalar     5
Draigo        5
Illestra      5
Korzara       5
Doublechin    5
Jaxsy         5
Dragonite     5
Lisana        5
Oleoresin     5
Neoblade      5
Khamala       5
Akroma        5
Matdémon      5
Coldemort     5
Dazeroc       5
Lilswig       5
Veyl          5
Porblas       5
Wixie         5
Ameon         5
Rekcots       5
Vedalken      5
Renson        5
Name: player, dtype: int64

In [96]:
mc_df.shape

(115, 11)

Also need to import the list of players and bosses for the night that wasn't logged.

In [85]:
mc_df.columns

Index(['log_id', 'log_start', 'log_end', 'pull_start', 'pull_end',
       'difficulty', 'kill', 'pull_id', 'boss_id', 'boss_name', 'player'],
      dtype='object')

In [93]:
missed_mc = pd.read_csv('time_thief_attendance_191123.csv', header=None)
missed_mc.head()

          0           1
0  Ragnaros    Illestra
1  Ragnaros    Pitchred
2  Ragnaros      Lisana
3  Ragnaros   Zanthalar
4  Ragnaros  Pinkpanzer

In [94]:
missed_mc.columns = ['boss_name', 'player']
missed_mc['log_id'] = 'missed_mc'
for col in ['log_start', 'log_end', 'pull_start', 'pull_end']:
    missed_mc[col] = np.nan
missed_mc['difficulty'] = 3
missed_mc['kill'] = True

mc_bosses = boss_ids.iloc[:-2].copy()
mc_bosses['pull_id'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

missed_mc_df = missed_mc.merge(mc_bosses, how='left', on='boss_name')
missed_mc_df.head()

,boss_name,player,log_id,log_start,log_end,pull_start,pull_end,difficulty,kill,boss_id,pull_id
0,Ragnaros,Illestra,missed_mc,NaN,NaN,NaN,NaN,3,True,672,10
1,Ragnaros,Pitchred,missed_mc,NaN,NaN,NaN,NaN,3,True,672,10
2,Ragnaros,Lisana,missed_mc,NaN,NaN,NaN,NaN,3,True,672,10
3,Ragnaros,Zanthalar,missed_mc,NaN,NaN,NaN,NaN,3,True,672,10
4,Ragnaros,Pinkpanzer,missed_mc,NaN,NaN,NaN,NaN,3,True,672,10

In [95]:
missed_mc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 377
Data columns (total 11 columns):
boss_name     378 non-null object
player        378 non-null object
log_id        378 non-null object
log_start     0 non-null float64
log_end       0 non-null float64
pull_start    0 non-null float64
pull_end      0 non-null float64
difficulty    378 non-null int64
kill          378 non-null bool
boss_id       378 non-null int64
pull_id       378 non-null int64
dtypes: bool(1), float64(4), int64(3), object(3)
memory usage: 32.9+ KB

Let's combine all of the df's into one for future use.

In [101]:
all_fights = pd.concat([master_list, mc_df, original_ony, missed_mc_df], sort=True)
all_fights['player'].fillna(all_fights['player_name'], inplace=True)
all_fights.drop('player_name', axis=1, inplace=True)
all_fights.shape

(2372, 11)

In [102]:
all_fights.head()

,boss_id,boss_name,difficulty,kill,log_end,log_id,log_start,player,pull_end,pull_id,pull_start
0,663,Lucifron,3,True,1.575098e+12,3y2pzXmMw7DtfFhN,1.574565e+12,Gengib,522768659.0,12,522675927.0
1,663,Lucifron,3,True,1.575098e+12,3y2pzXmMw7DtfFhN,1.574565e+12,Doublechin,522768659.0,12,522675927.0
2,663,Lucifron,3,True,1.575098e+12,3y2pzXmMw7DtfFhN,1.574565e+12,ArtemÃ­st,522768659.0,12,522675927.0
3,663,Lucifron,3,True,1.575098e+12,3y2pzXmMw7DtfFhN,1.574565e+12,Proplay,522768659.0,12,522675927.0
4,663,Lucifron,3,True,1.575098e+12,3y2pzXmMw7DtfFhN,1.574565e+12,Dazeroc,522768659.0,12,522675927.0

Let's filter out any non-guild players.

In [103]:
all_fights = all_fights[all_fights['player'].isin(player_list['player'])]
all_fights.to_csv('all_fight_logs_191201.csv', index=False)

Things to do:
- Work out if the player was there for the first boss of the raid
- Work out if the player was there for the last boss of the raid
- Count the number of bosses that each player has killed
- Determine the duration of raiding for each player

In [104]:
all_fights['player'].value_counts()

Neoblade        72
Veyl            72
Ameon           72
Doublechin      72
Lilswig         72
Draigo          72
Jaxsy           71
Porblas         71
Rekcots         71
Illestra        71
Oleoresin       70
Korzara         70
Dazeroc         70
Coldemort       67
Renson          62
Khamala         60
Zanthalar       60
Wixie           58
Vedalken        56
Lisana          56
Kustom          54
Regmar          54
Kenrith         48
Dragonite       44
Chubblock       40
Akroma          38
Psykhe          36
Elnul           34
Roflmewafles    21
Lareve          16
Alaisiagae      13
Lawli           13
Sombrero        12
Nexx            10
Getscared       10
Matdémon         6
Name: player, dtype: int64

Need to check the difference in the 70 to 72 players. Also need to get the details for Matdemon missing so many.

In [80]:
player_list = pd.read_csv('player_list.csv')
print(player_list.shape)
player_list.head()

(36, 6)

     player primary_role  alt  tier_end  tier_start start_date
0  Vedalken       healer  NaN       NaN        True        NaN
1   Porblas         mdps  NaN       NaN        True        NaN
2     Ameon         mdps  NaN       NaN        True        NaN
3    Kustom         rdps  NaN       NaN        True        NaN
4   Lilswig         rdps  NaN       NaN        True        NaN

Let's create a separate df to store the players points.

In [81]:
player_list['dkp'] = 0
player_dkp = player_list[['player', 'dkp']].copy()

If we combine the three lots of logs, then we can work out how many bosses each player has killed.